{% extends "layout.html" %}
  
{% block content %}
<div class="jumbo">
  <h2>About</h2>
  <p>This is an assignment work for the Backend Developer role @Scribe a Y-combinator startup.</p>
  <p>Scribe is a YCombinator and venture backed startup based out of San Francisco</p>

  <h2>How it Works!!</h2>
  <p>Scribe automates the process from finding prospects, handling objections and qualifying leads 
to scheduling demos using Artificial Intellignece and Data Science, so that your team can focus on closing deals.</p>
</div>
{% endblock %}